*{
    font-family: Verdana, sans-serif;
    
    
}
main{
    background-color:#26877f ;
    cursor: url('plant (1).png'),pointer;
    
}
.col-6{
    
    background-color:white ;
    border-style: solid;
    border-width: 0px 5px 5px 0px;
    border-color: #26877f;

}
.col-6 > img{
   
        width:400px;
        height: 400px;
        float: left;
        margin: 10px 90px 30px 10px;
        
   
}
.col-6 > p{
    text-align:center;
}
div >p{
    color:black;
    text-align:center;  
    font-size: 20px;
    font-style: oblique;
}

.col-7 > p{
    font-size: 12px;
    text-align: justify;
    float:right;
}
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:10;

    height:100%;

    width:100%;

    position:absolute;

}