.container{
    display: inline-flex;
    flex:  1 1 300px;
    border-radius: 1ppx;
    border: 1px solid beige;
    overflow: hidden;
}
.icon{
    padding:0.8 rem;
}
.searchBox{
    border:0;
    flex:1;
   
}
.searchButton{
    color:white;
    background: blue;
    border:0;
    padding: 0.8 rem;
    border-radius: 8px;
}