.container{
    background-color: black;
    display: flex;
    flex-flow:  row wrap;
    justify-content: stretch;
}

*{ /*This universal selector is used todeclare any rule that applies to every elemnt in the CSS code*/
    margin:0;
    padding:0;
}
.container li{
    display: inline-block;
    padding: 25px;
    margin:0 25 px;
    text-align: center;
    text-decoration: none;
    color: white;

}
.container li:hover{
    background-color: blueviolet;
}